<strong id="tittle">Thông tin danh mục</strong>
<form action="#" method="POST">
    <input type="hidden" id="key" name="key" />
    <input type="text" id="name" class="form-control search-control ctr-1x" name="namebranch" data="category" index="1" placeholder="(*) Nhập tên danh mục ..." />
    <textarea id="description" class="form-control ctr-1x" name="description" index="2" placeholder="Mô tả cho danh mục này ..."></textarea>
    <button type="button" id="delete" class="btn btn-danger btn-sm ctr-btn" disabled index="5"><i class="fa fa-trash-o" aria-hidden="true"></i> Xóa danh mục</button>
    <button type="button" id="update" onclick="updatecategory(false);" class="btn btn-success btn-sm ctr-btn" disabled index="4"><i class="fa fa-check" aria-hidden="true"></i> Cập nhật lại</button>
    <button type="button" id="add" onclick="updatecategory(true);" class="btn btn-primary btn-sm ctr-btn" index="3"><i class="fa fa-plus" aria-hidden="true"></i> Thêm danh mục</button>
</form>
<div id="view" class="d-clear"></div>
<script>
    $(document).ready(function(){
        $("#d-fixheight").attr('style', 'max-height: ' + ($('#d-contain').height() - $("#view").offset().top - 10) + "px;");
        $(window).resize(function(){
            $("#d-fixheight").attr('style', 'max-height: ' + ($('#d-contain').height() - $("#view").offset().top - 10) + "px;");
        });
    });
</script>
<div class="table-responsive d-table" id="d-fixheight">
    <table class="table table-hover table-condensed table-striped">
        <thead>
        <tr>
            <th>#</td>
            <th>Danh mục</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% for(i=0; i<data.length; i++) { %>
        <tr onclick="infocategory('<%= data[i].id %>');">
            <td><%= data[i].id %></td>
            <td><strong title="Số loại sản phẩm có trong danh mục">[<%= data[i].numberproduct %>]</strong> <%= data[i].name %></td>
            <td class="col-action">
                <i class="fa fa-bookmark ctr-action" aria-hidden="true" title="Click để xóa danh mục đã ghim"></i>
                <i class="fa fa-trash ctr-action" onclick="deletecategory('<%= data[i].id %>');" aria-hidden="true"></i>
            </td>
        </tr>
       <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" id="viewmore" onclick="searchcategory()"><i class="fa fa-angle-double-down" aria-hidden="true"></i> xem thêm ...</td>
            </tr>
        </tfoot>
    </table>
</div>
