<strong id="tittle">Kho hàng</strong>

<div id="add-head">
    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm ctr-btn"><i class="fa fa-plus fa-lg icon-btn" aria-hidden="true"></i> Nhập tay</button>
    <button type="button" id="myFileInput" class="btn btn-primary btn-sm ctr-btn" onclick="document.getElementById('file').click();"><i class="fa fa-file-excel-o fa-lg icon-btn" aria-hidden="true"></i> Nhập file</button>
    <form action="#" method="POST" id="form-file">
        <input type="file" id="file" name="btn-file" onclick="clearValue(this);" onchange="handleFile(this);" style="display:none;" value="Select a File" />
    </form>
</div>

<form action="#" name="f-search" method="POST" autocomplete="on">
    <input type="hidden" name="index" value="0" />
    <select id="branch" name="branch" class="form-control ctr-1x">
        <option value="-1">Chi nhánh ...</option>
    </select>
    <select id="category" name="category" class="form-control ctr-1x">
        <option value="-1">Danh mục hàng ...</option>
    </select>
    <input type="text" id="textsearch" name="textsearch" class="form-control ctr-1x" name="address" placeholder="Tên hoặc Mã sản phẩm cần tìm ..." title="Tên hoặc Mã sản phẩm cần tìm ..." />
    <button type="submit" id="action" name="action" value="search" class="btn btn-success btn-sm ctr-btn"><i class="fa fa-search fa-lg icon-btn" aria-hidden="true"></i> Tìm kiếm ...</button>
</form>
<div id="view" class="d-clear"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
<script>
    var arrImport;
    function handleFile(e) {
        var files = e.files;
        var i,f;
        arrImport = new Array();
        $("#myModal1").modal("show");
        for (i = 0; i != files.length; ++i) {
            f = files[i];
            var reader = new FileReader();
            var name = f.name;
            reader.onload = function(e) {
            var data = e.target.result;
            var workbook = XLSX.read(data, {type: 'binary'});
            /* DO SOMETHING WITH workbook HERE */
            var jsonObj = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]]);
            var html = "<table class='table table-hover table-condensed table-striped'>";
            html += "<thead><tr><th>Tên hàng</th><th>Số lượng</th><th>Giá nhập</th><th>Danh mục</th></tr></thead>";
            html += "<tbody>";
            jsonObj.forEach(function(val, ind){
                html += "<tr><th>"+val["Sản phẩm"]+"</th><th>"+val["Số lượng nhập"]+"</th><th>"+val["Giá nhập"]+"</th><th>"+val["Danh mục"]+"</th></tr>";
                arrImport.push(val);
            });
            html += "</tbody></table>";
            $("#d-load").html(html);
            };
            reader.readAsBinaryString(f);
        }
    }
    function clearValue(e) {
        $(e).val("");
    }
    function importDataExcel() {
        if(Array.isArray(arrImport)){
            if(arrImport.length>0) {
                $.ajax({
                    url: "/importexcel/warehouse",
                    type: "POST",
                    data: {
                        listproduct: JSON.stringify(arrImport)
                    },
                    success: function(data){
                        if (data === "Success") {
                            alert("Cập nhật dư liệu thành công.");
                            window.location.reload(true);  
                        } else {
                            showAlert('error', " Lỗi kết nối hệ thống", "Không cập nhật được cơ sở dữ liệu!!!\nVui lòng thao tác lại sau.");
                        }
                    },
                    error: function(){
                        showAlert('error', " Lỗi kết nối hệ thống", "Không cập nhật được cơ sở dữ liệu!!!\nVui lòng thao tác lại sau.");
                    }
                });
            } else {
                alert("Bạn chưa nhập dữ liệu danh sách hàng hóa!");
            }
        } else {
            alert("Bạn chưa nhập dữ liệu danh sách hàng hóa!");
        }
    }
</script>
<script>
    $(document).ready(function(){
        $("#d-fixheight").attr('style', 'max-height: ' + ($('#d-contain').height() - $("#view").offset().top - 10) + "px;");
        $(window).resize(function(){
            $("#d-fixheight").attr('style', 'max-height: ' + ($('#d-contain').height() - $("#view").offset().top - 10) + "px;");
        });
    });
</script>
<div class="table-responsive d-table" id="d-fixheight">
    <table class="table table-hover table-condensed table-striped">
        <thead>
        <tr>
            <th>#</td>
            <th>Sản phẩm</th>
            <th>Giá Bán</th>
            <th>Số lượng</th>
            <th>Phân loại</th>
            <th>Chi nhánh</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% for(i=0; i<data.length; i++) { %>
        <tr onclick="infopartner('<%= data[i].ProductId %>');" title="Click để xem thông tin chi tiết mặt hàng" >
            <td><%= data[i].ProductId %></td>
            <td><%= data[i].ProductName %></td>
            <td><%= data[i].Price %></td>
            <td><%= (data[i].NewNumber + data[i].OldNumber) %></td>
            <td><%= data[i].CategoryName %></td>
            <td><%= data[i].BranchName %></td>
            <td class="col-action">
                <i class="fa fa-question-circle ctr-action" aria-hidden="true"></i>
                <i class="fa fa-trash ctr-action" onclick="deletepartner('<%= data[i].ProductId %>');" aria-hidden="true"></i>
            </td>
        </tr>
       <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" id="viewmore" onclick="searchpersonnel()"><i class="fa fa-angle-double-down" aria-hidden="true"></i> xem thêm ...</td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Thêm hàng vào kho</h4>
      </div>
      <div class="modal-body">
            <form action="/update/personnel" id="f-update" name="f-update" method="POST">
                <input type="hidden" id="keymodel" name="key" />
                <input type="text" id="productmodel" class="form-control ctr-1x" name="product" placeholder="(*) Sản phẩm ..." list="products" />
                <datalist id="products"></datalist>
                <select id="branchmodel" class="form-control ctr-1x" name="branch" placeholder="(*) Chi nhánh ..."></select>
                <input type="text" id="categorymodel" class="form-control ctr-1x" name="category" placeholder="(*) Danh mục ..." list="categorys" />
                <datalist id="categorys"></datalist>
                <input type="text" id="suppliermodel" class="form-control ctr-1x" name="supplier" placeholder="(*) Nhà cung cấp" list="suppliers" />
                <datalist id="suppliers"></datalist>
                <input type="text" id="numbermodel" class="form-control ctr-1x" name="number" placeholder="(*) Số lượng nhập ..." />
                <input type="text" id="pricedmodel" class="form-control ctr-1x" name="price" placeholder="(*) Giá nhập ..." />
                <input type="text" id="salemodel" class="form-control ctr-1x" name="sale" placeholder="(*) Giá bán ..." />
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
        <button type="button" onclick="$('#f-update').submit();" class="btn btn-primary">Cập nhật</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel1">Danh sách sản phẩm nhập kho</h4>
      </div>
      <div class="modal-body" id="d-load" style="text-align: center;">
            <i class="fa fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
        <button type="button" onclick="importDataExcel();" class="btn btn-primary">Cập nhật</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $.ajax({
            url: "/loaddata/warehouse",
            type: "GET",
            data: {
                ops: 1
            },
            success: function(data){
                if(data.length>0) {
                    var html = "";
                    var htmls = "";
                    for(var i=0; i<data[0].length; i++) {
                        html += "<option id='br"+data[0][i].IdBranch+"' value='"+data[0][i].IdBranch+"'>"+data[0][i].NameBranch+"</option>";
                    }
                    $('#branch').append(html);
                    $('#branchmodel').append(html);
                    html = "";
                    htmls = "";
                    for(var i=0; i<data[1].length; i++) {
                        html += "<option id='ct"+data[1][i].IdCategory+"' value='"+data[1][i].IdCategory+"'>"+data[1][i].Name+"</option>";
                        htmls += "<option value='"+data[1][i].Name+"'>"+data[1][i].IdCategory+"</option>";
                    }
                    $('#category').append(html);
                    $('#categorys').append(htmls);
                    htmls = "";
                    for(var i=0; i<data[2].length; i++) {
                        htmls += "<option value='"+data[2][i].ContactName+"'>"+data[2][i].IdSupplier+"</option>";
                    }
                    $('#suppliers').append(htmls);
                }
            },
            error: function(){
                alert("Không cập nhật được cơ sở dữ liệu!!!\nVui lòng thao tác lại sau.");
                }
            });
        
        $("form[name='f-update']").validate({
            rules : {
                product: "required",
                category: 'required',
                supplier: 'required',
                number: {
                    required: true,
                    digits: true
                },
                price:  {
                    required: true,
                    digits: true
                },
                sale:  {
                    required: true,
                    digits: true
                }
            },
            messages : {
                product: 'Bạn chưa nhập dữ liệu cho trường này!',
                category: 'Bạn chưa nhập dữ liệu cho trường này!',
                supplier: 'Bạn chưa nhập dữ liệu cho trường này!',
                number: {
                    required: "Bạn chưa nhập dữ liệu cho trường này!",
                    digits: "Nhập số nguyên dương!"
                },
                price: {
                    required: "Bạn chưa nhập dữ liệu cho trường này!",
                    digits: "Nhập số nguyên dương!"
                },
                sale: {
                    required: "Bạn chưa nhập dữ liệu cho trường này!",
                    digits: "Nhập số nguyên dương!"
                }
            },
            submitHandler : function(form) {
                var event = $(form).serializeArray()[6].value;
                if(event == "add")
                    updatepartner(true);
                else
                    updatepartner(false);
            }
        });
            
    });
</script>