<strong id="tittle">Thông tin chi tiết chi nhánh</strong>
<% 
    if(data.branch.length > 0) {
%>
<form action="#" name='f-update' method="POST" autocomplete="on">
    <input type="hidden" id="key" name="key" value="-1" />
    <input type="text" id="name" class="form-control ctr-1x" name="namebranch" placeholder="(*) Nhập tên chi nhánh ..." value="<%= data.branch[0].NameBranch %>" />
    <input type="text" id="address" class="form-control ctr-1x" name="addressbranch" placeholder="(*) Địa chỉ ..." value="<%= data.branch[0].Address %>" />
    <div>
        <div class="ctr-3x">
            <input type="tel" id="phone" class="form-control" name="phonebranch" placeholder="(*) Số điện thoại ..." value="<%= data.branch[0].Phone %>" />
        </div>
        <div class="ctr-3x">
            <input type="email" id="email" class="form-control" name="emailbranch" placeholder="Email ..." value="<%= data.branch[0].Email %>" />
        </div>
        <div class="ctr-3x">
            <input type="text" id="fax" class="form-control" name="faxbranch" placeholder="Số fax ..." value="<%= data.branch[0].Fax %>" />
        </div>    
        <div class="d-clear"></div>
    </div>
    <% if(session.jurisdiction < 3) { %>
    <button type="button" id="delete" class="btn btn-danger btn-sm ctr-btn"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Xóa Chi nhánh</button>
    <button type="submit" id="update" class="btn btn-success btn-sm ctr-btn"><i class="fa fa-check fa-lg" aria-hidden="true"></i> Cập nhật lại</button>
    <% } %>
    <button type="button" id="back" class="btn btn-default btn-sm ctr-btn" onclick="window.history.back();"><i class="fa fa-undo fa-lg" aria-hidden="true"></i> Quay lại</button>
</form>
<div id="view" class="d-clear"></div>

<%  } else { %>
    <p style="font-size: 1.5em; font-weight: bold; margin: 10px; color: red;"> Chi nhánh không tồn tại!</p>
<% }
    var ls = data.personnel;
    if(ls.length > 0) {
%> 
<div id="personnel" style="text-align: center;">
    <p id="sodo">Sơ đồ nhân viên</p>
    <% for(i=0; i<ls.length; i++) { %>
    <div class="info-personnel">
        <img src="<%= ls[i].Image %>" />
        <p>
            <%= ls[i].FullName %>
            <br>(<%= ls[i].Name %>)
        </p>
    </div>
    <% if(ls[0].JurisdictionId < 3) { %>
        <hr>
    <% } %>
    <% } %>
</div>
<% } %>
<style>
p#sodo {
    font-size: 2em;
    font-weight: bold;
    margin-top: 15px;
    color: darkblue;
    text-shadow: 2px 2px 2px grey;
}
div#personnel img {
    max-width: 120px;
    max-height: 200px;
    border: 5px solid gray;
    border-radius: 5px;
    margin: 5px 20px;
}
.info-personnel {
    display: inline-block;
    text-align: center;
    font-weight: 600;
}
</style>

<script>
    $(document).ready(function(){
        $("#add").click(function(){
            $("#key").val("-1");
        });
        // check validate
        $("form[name='f-update']").validate({
            rules : {
                namebranch: "required",
                addressbranch: 'required',
                phonebranch: {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 20,
                }
            },
            messages : {
                namebranch: 'Bạn chưa nhập dữ liệu cho trường này!',
                addressbranch: 'Bạn chưa nhập dữ liệu cho trường này!',
                phonebranch: {
                    required: "Bạn chưa nhập dữ liệu cho trường này!",
                    digits: "Hãy nhập số điện thoại!",
                    minlength: "Hãy nhập số điện thoại!",
                    maxlength: "Hãy nhập số điện thoại!",
                }
            },
            submitHandler : function(form) {
                // form.submit();
                if($("#key").val() == "-1")
                    updatebranch(true);
                else
                    updatebranch(false);
            }
        });
    });
</script>
